<%- include ('partials/header.ejs') %>

<body>
    <%- include ('partials/navbar.ejs') %>
    <h4>bem vindo</h4>






    <script src="/js/bootstrap.min.js"></script>
</body>
<%- include ('partials/footer.ejs') %>
