<%- include ('partials/header.ejs') %>

    <body>
        <%- include ('partials/navbar.ejs') %>
        <div class="container">
                <div class="col-sm-12" >Nome:
            <input class="form-control" type="text" placeholder="Digite seu nome completo"
                aria-label=".form-control-lg example"> E-mail:
            <input class="form-control" type="text" placeholder="Digite seu e-mail" aria-label="default input example">Senha:
            <input class="form-control" type="text" placeholder="Digite sua senha"
                aria-label=".form-control-sm example">
            </div>
            </div>
        




    </body>
    <%- include ('partials/footer.ejs') %>